.intro {
	margin-top: 5px;
	padding-top: 225px;
	padding-bottom: 290px;
	position: relative;
	overflow: hidden;
}

.intro::after {
	content: "";

	position: absolute;
	top: 168px;
	right: 175px;
	width: 705px;
	height: 515px;

	background: url("../img/microchips.png");
	background-repeat: no-repeat;
	z-index: 1;
}

.intro__wrapper {
	position: relative;

	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.big-triangle-dots-intro {
	top: -42px;
	right: 16px;

	fill: transparent;
}

.small-triangle-dots-intro {
	top: 156px;
	right: 300px;
	
	fill: transparent;
}

.intro-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 59px;
}

.intro-info__heading {
	margin-left: 12px;
	margin-bottom: 28px;
	width: 820px;

	text-transform: uppercase;
	font-family: "Roboto Condensed";
	font-weight: bold;
	font-size: 80px;
	line-height: 94px;
	letter-spacing: 0.07em;

	color: #fff;


	z-index: 2;
}

.intro-info__text {
	position: relative;
	margin-left: 107px;
	width: 680px;

	font-size: 22px;
	line-height: 34px;

	color: #fff;

	z-index: 2;
}

.intro-info__text::before {
	content: "";

	position: absolute;
	height: 2px;
	width: 66px;
	top: 16px;
	left: -93px;

	background: #fff;
}

.button__link {
	padding: 17px 48px 17px;
	margin-left: 106px;

	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #fff;
	background: #00B2FF;
	border-radius: 5px;

	position: relative;
  z-index: 2;
}

.intro__scroll {
	position: absolute;

  top: 420px;
  left: -29px;

	font-size: 14px;
	line-height: 16px;

	color: #FFFFFF;
	opacity: 0.5;
	transform: rotate(-90deg);
	background: transparent;
	border: none;
	text-decoration: none;
}

.small-triangle-intro-tablet {
	display: none;
}

.big-triangle-intro-tablet {
	display: none;
}

.button-mobile {
	display: none;
}

@media (max-width: 1023px) {
	.intro {
		padding-top: 119px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 180px;

		position: relative;
	}

	.intro::after {
		content: "";

		position: absolute;
		top: 42px;
		right: -207px;
		width: 465px;
		height: 340px;

		background: url("../img/microchips-tablet.png");
		background-repeat: no-repeat;
		z-index: 1;
	}

	.big-triangle-dots-intro {
		display: none;
	}

	.small-triangle-dots-intro {
		display: none;
	}

	.small-triangle-intro-tablet {
		display: block;
		width: 256px;
		height: 221px;
		top: 49px;
		right: 58px;
	}

	.big-triangle-intro-tablet {
		display: block;
		width: 274px;
		height: 385px;
		top: -108px;
		right: -2px;
	}

	.intro-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: 73px;
		margin-left: 85px;
	}

	.intro-info__heading {
		margin-left: 4px;
		margin-bottom: 26px;
		width: 470px;

		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 70px;

		letter-spacing: 0.07em;
	}

	.intro-info__text {
		position: relative;
		margin-left: 54px;
		width: 425px;

		font-size: 18px;
		line-height: 28px;

		color: #fff;

		z-index: 2;
	}

	.intro-info__text::before {
		content: "";

		position: absolute;
		height: 2px;
		width: 35px;
		top: 16px;
		left: -50px;

		background: #fff;
	}

	.button__link {
		padding: 18px 33px;
		margin-left: 139px;

		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		color: #fff;
		background: #00B2FF;
		border-radius: 5px;

		position: relative;
	  z-index: 2;
	}

	.intro__scroll {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
		.intro {
		padding-top: 231px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 71px;

		position: relative;
	}

	.intro::after {
		content: "";

		position: absolute;
		top: 37px;
		right: -172px;
		width: 465px;
		height: 340px;

		background: url("../img/microchips-mobile.png");
		background-repeat: no-repeat;
		z-index: 1;
	}

	.big-triangle-dots-intro {
		display: none;
	}

	.small-triangle-dots-intro {
		display: none;
	}

	.small-triangle-intro-tablet {
		display: block;
		width: 256px;
		height: 221px;
		top: -68px;
		right: -99px;
	}

	.big-triangle-intro-tablet {
		display: block;
		width: 274px;
		height: 385px;
		top: -216px;
		right: -159px;
	}

	.intro-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: 41px;
		margin-left: 8px;
	}

	.intro-info__heading {
		width: 235px;
		margin-bottom: 25px;

		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 47px;

		letter-spacing: 0.07em;

	}

	.intro-info__text {
		position: relative;
		margin-left: 58px;
		width: 235px;

		font-size: 16px;
		line-height: 25px;
		font-style: normal;
		font-weight: normal;

		color: #fff;

		z-index: 2;
	}

	.button-mobile {
		display: block;
		width: 287px;
	}

	.intro-info__text::before {
		content: "";

		position: absolute;
		height: 2px;
		width: 35px;
		top: 16px;
		left: -49px;

		background: #fff;
	}

	.button__link {
		padding: 17px 16px;
		margin-left: 18px;
		width: 287px;

		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		color: #fff;
		background: #00B2FF;
		border-radius: 5px;

		position: relative;
	  z-index: 2;
	}

	.intro__scroll {
		display: none;
	}

	.button-desktop {
		display: none;
	}
}
