.hidden {
		display: block;
}

.page-footer {
	padding-top: 65px;
	background: #FAFAFA;
}

.page-footer__wrapper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

}	

.page-footer__main {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 57px;
}

.page-footer__company {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 225px;
}

.page-footer__info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-bottom: 45px;
	margin-left: 10px;
}

.page-footer__logo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.page-footer__logo--image {
	margin-right: 15px;
}

.page-footer__logo--text {
	margin-top: 4px;
}

.page-footer__logo--text .logo--text__eng {
	font-family: "Roboto Condensed";
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;

	color: #203C42;
}

.page-footer__social--icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
}

.social__item {
	margin-right: 15px;
}

.social__item:nth-child(3n) {
	margin-right: 0px;
}

.page-footer__extra {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.page-footer__sections {
	display: flex;
	flex-direction: column;
	width: 425px;
	margin-right: 235px;
	margin-left: 60px;
}

.sections__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-footer__sections--heading {
	margin-bottom: 24px;

	font-family: "Roboto Condensed";
	font-size: 15px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;


	color: #1B2D37;
}

.sections__list--item-link {
	font-size: 15px;
	line-height: 25px;

	color: #1B2D37;
	opacity: 0.5;
}

.sections__list--item:nth-child(2n-1) {
	min-width: 165px;
}

.item__delivery,
.item__contacts {
	min-width: 114px;
}

.page-footer__contacts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 13px;

}

.page-footer__contacts--heading {
	margin-bottom: 22px;

	font-size: 15px;
	line-height: 16px;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	letter-spacing: 0.05em;


	color: #1B2D37;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.contacts__list--link {
	font-size: 15px;
	line-height: 25px;

	color: #1B2D37;

	opacity: 0.5;
}

.page-footer__legal {
	border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.wrapper__legal {
	padding-top: 15px;
}

.legal__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.legal__list--item {
	font-size: 13px;
	line-height: 24px;
	display: flex;
	align-items: center;

	text-transform: uppercase;
	letter-spacing: 0.04em;


	color: #1B2D37;

	opacity: 0.5;
}

.item__legal-first {
	margin-left: 13px;
}

.item__legal-second {
	margin-right: 72px;
}

.item__legal-third {
	margin-right: 331px;
}

.item__legal-fourth {
	margin-right: 16px;
}

.item__legal-tablet {
	display: none;
}

	.open-sections,
	.open-contacts {
		display: none;
	}

@media (max-width: 1023px) {

	.hidden {
		display: block;
	}
	.page-footer {
		position: relative;
		padding-top: 20px;
		background: #FAFAFA;
	}

	.page-footer::before {
		content: "";
		
		position: absolute;
		top: 96px;
		left: 0px;

		height: 1px;
		width: 100%;

		background-color: #626962;

		opacity: 0.2;
	}

	.page-footer__main {
		display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin-bottom: 38px;
	}

	.page-footer__company {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: auto;
		justify-content: space-between;
	}

	.page-footer__info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		margin-bottom: 18px;
		margin-left: 27px;
	}

	.page-footer__logo {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.page-footer__logo--image {
		margin-right: 15px;
	}

	.page-footer__logo--text {
		margin-top: 4px;
	}

	.page-footer__logo--text .logo--text__eng {
		font-family: "Roboto Condensed";
		font-weight: bold;
		font-size: 25px;
		line-height: 29px;

		color: #203C42;
	}

	.item__legal-tablet {
		display: block;
		margin-top: 16px;
		margin-left: 12px;

		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 24px;
		text-transform: uppercase;

		color: #1B2D37;

		opacity: 0.5;
	}

	.page-footer__social--icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: 23px;
		margin-top: 10px;
	}

	.social__item {
		margin-right: 15px;
	}

	.social__item:nth-child(3n) {
		margin-right: 0px;
	}

	.page-footer__extra {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 38px;
		justify-content: space-between;
	}

	.page-footer__sections {
		display: flex;
		flex-direction: column;
		width: 240px;
		margin-right: 0px;
		margin-left: 25px;
	}

	.sections__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.item__about-company {
		order: 0;
	}

	.item__products {
		order: 1;
	}

	.item__production {
		order: 2;
	}

	.item__repairs {
		order: 3;
	}

	.item__details {
		order: 4;
	}

	.item__delivery {
		width: 125px;
		order: 5;
	}

	.item__contacts {
		width: 125px;
		order: 6;
	}


	.page-footer__sections--heading {
		margin-bottom: 24px;

		font-family: "Roboto Condensed";
		font-size: 15px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-transform: uppercase;

		color: #1B2D37;
	}

	.sections__list--item-link {
		font-size: 15px;
		line-height: 25px;

		color: #1B2D37;
		opacity: 0.5;
	}

	.sections__list--item:nth-child(2n-1) {
		min-width: 165px;
	}

	.item__delivery,
	.item__contacts {
		min-width: 114px;
	}

	.page-footer__contacts {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-right: 34px;

	}

	.page-footer__contacts--heading {
		margin-bottom: 25px;

		font-size: 15px;
		line-height: 16px;
		font-family: "Roboto Condensed";
		text-transform: uppercase;

		color: #1B2D37;
	}

	.contacts__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contacts__list--link {
		font-size: 15px;
		line-height: 25px;

		color: #1B2D37;

		opacity: 0.5;
	}

	.page-footer__legal {
		border-top: 1px solid rgba(98, 105, 98, 0.2);
	}

	.wrapper__legal {
		padding-top: 21px;
	}

	.legal__list--item {
		font-size: 13px;
		line-height: 24px;
	}

	.item__legal-first {
		margin-right: 0px;
	}

	.item__legal-second {
		margin-right: 0px;
	}

	.item__legal-third {
		margin-right: 0px;
		margin-left: 27px;
	}

	.item__legal-fourth {
		margin-right: 24px;
	}

	.item__legal-first {
		display: none;
	}

	.item__legal-desktop {
		display: none;
	}	

	.open-sections,
	.open-contacts {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.page-footer {
		position: relative;
		padding-top: 46px;
		background: #FAFAFA;
		overflow: hidden;
	}

	.page-footer::before {
		content: "";
		
		position: absolute;
		top: 260px;
		left: 0px;

		height: 1px;
		width: 100%;

		background-color: #626962;

		opacity: 0.2;
	}

	.page-footer__main {
		display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin-bottom: 0px;
	}

	.page-footer__company {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: auto;
		justify-content: space-between;
		margin-right: 2px;
	}

	.page-footer__info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.page-footer__logo {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.page-footer__logo--image {
		margin-right: 15px;
	}

	.page-footer__logo--text {
		margin-top: 7px;
	}

	.page-footer__logo--text .logo--text__eng {
		font-family: "Roboto Condensed";
		font-weight: bold;
		font-size: 25px;
		line-height: 29px;

		color: #203C42;
	}

	.item__legal-tablet {
		display: block;
		margin: 0 auto;
		margin-bottom: 32px;

		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 0.04em;

		color: #1B2D37;

		opacity: 0.5;
	}


	.page-footer__social--icons {
		width: 112px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 10px;
		margin: 0 auto;
	}

	.social__item {
		margin-right: 15px;
	}

	.social__item:nth-child(3n) {
		margin-right: 0px;
	}

	.page-footer__extra {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-top: 77px;
		justify-content: space-between;
		margin-right: 11px;
	}

	.page-footer__sections {
		position: relative;
		display: flex;
		flex-direction: column;
		width: auto;
		margin-right: 0px;
		margin-left: 13px;
	}

	.page-footer__sections::before {
		content: "";
		
		position: absolute;
		top: 44px;
		left: -300px;

		height: 1px;
		width: 1067px;

		background-color: #626962;

		opacity: 0.2;
	}
	
	.open-sections {
		position: absolute;
    top: 1px;
    right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0;
    background: transparent;
    background-image: url("../img/icons/button-open-sections.svg");
    background-repeat: no-repeat;
	}


	.sections__list {
		width: 225px;
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.page-footer__sections--heading {
		margin-bottom: 24px;

		font-family: "Roboto Condensed";
		font-size: 15px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-transform: uppercase;

		color: #1B2D37;
	}

	.sections__list--item-link {
		font-size: 15px;
		line-height: 25px;

		color: #1B2D37;
		opacity: 0.5;
	}

	.sections__list--item:nth-child(2n-1) {
		min-width: 165px;
	}

	.item__delivery,
	.item__contacts {
		width: 185px;
	}

	.page-footer__contacts {
		width: auto;
		position: relative;
		margin-top: 33px;
		margin-left: 15px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-right: 32px;
		margin-bottom: 26px;
	}

	.open-contacts {
		position: absolute;
		top: 0px;
    right: -26px;
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-image: url("../img/icons/button-open-contacts.svg");
    background-repeat: no-repeat;
	}

	.page-footer__contacts--heading {
		margin-bottom: 32px;

		font-size: 15px;
		line-height: 16px;
		font-family: "Roboto Condensed";
		text-transform: uppercase;
		font-style: normal;
		font-weight: normal;

		color: #1B2D37;
	}

	.contacts__list {
		width: 270px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contacts__list--link {
		font-size: 15px;
		line-height: 25px;

		color: #1B2D37;

		opacity: 0.5;
	}

	.page-footer__legal {
		position: relative;
		border-top: 1px solid rgba(98, 105, 98, 0.2);
	}

	.wrapper__legal {
		padding-top: 28px;
	}

	.legal__list {
		width: 262px;
		margin: 0 auto;
	}

	.legal__list--item {
		font-size: 13px;
		line-height: 24px;
	}

	.item__legal-first {
		margin-right: 0px;
	}

	.item__legal-second {
		margin-right: 0px;
	}

	.item__legal-third {
		margin-right: 0px;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.item__legal-fourth {
		margin-right: 0px;
		margin-left: 35px;
	}

	.item__legal-first {
		display: none;
	}

	.hidden {
		display: none;
	}

	.item__legal-second {
		display: none;
	}

	.open-contacts {
		display: block;
	}

	.open-sections {
		display: block;
	}

	.open {
		display: block;
	}

}

