@font-face {
  font-family: "PT Mono";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/pt-mono.woff2") format("woff2"),
    url("../fonts/pt-mono.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-condensed.woff2") format("woff2"),
    url("../fonts/roboto-condensed.woff") format("woff");
}

