html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.introduction__wrapper {
  background: #1B2D37;
  background-image: url("../img/header-mask.png");
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.title,
.paragraph {
  margin: 0;
  padding: 0;
}

.triangle {
  position: absolute;
}

.button {
  cursor: pointer;
}

.button:hover,
.link:hover {
  opacity: 0.8;
}

.button:active,
.link:active {
  opacity: 0.2;
}
